*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:rgb(250, 216, 175)
}

.padre{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 470px;
    width: 370px;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
    background-color: #5c7594;
}

.display{
    border: 1px solid blue;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 10px;
    font-size: 28px;
    overflow: hidden;
    background-color: #d2ecf6;
    border-radius: 15px;
}

.teclas{
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
    background-color: #5c7594;
}

button{
    flex-basis: calc((100% - 30px)/4); 
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 18px;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(231, 228, 228);
    cursor: pointer;
}
